frontend/node_modules
backend/node_modules
.env
cloudName = add-your-cloudinary-name
cloudKey = add-your-cloudinary-key
cloudSecret = add-your-cloudinary-secret
MONGDB_URI = mongodb+srv://rickytoledo:84544Rt$@cluster0.tcrre.mongodb.net/test
